<?xml version="1.0" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true"
  internalLogFile="${basedir}/Content/nlog.txt"
  internalLogLevel="Debug"
  internalLogToConsole="false">
	<time type='AccurateUTC' />
	<targets>

		<!-- Target to write log for Info messages. -->
		<target name="fileInfoLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}InfoLog.log" maxArchiveFiles="30" archiveFileName="${basedir}/Logs/${shortdate}InfoLog.log" archiveEvery="Day">
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="message" layout="${message}" />
			</layout>
		</target>

		<!-- Target to write log for Error messages. -->
		<target name="fileErrorLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}ErrorLog.log" maxArchiveFiles="30" archiveFileName="${basedir}/Logs/${shortdate}ErrorLog.log" archiveEvery="Day">
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="message" layout="${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>

		<!-- Target to write log for Debug messages. -->
		<target name="fileDebugLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}DebugLog.log" maxArchiveFiles="30" archiveFileName="${basedir}/Logs/${shortdate}DebugLog.log" archiveEvery="Day">
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="message" layout="${message}" />
			</layout>
		</target>

	</targets>

	<!--Logger rules to write to file for different level logs. 
  Just comment any logger rule below to stop logging for that particular rule. i.e. To stop Debug logging comment debug logger.-->
	<rules>
		<logger name="*" level="Info" writeTo="fileInfoLog" />
		<logger name="*" level="Error" writeTo="fileErrorLog" />
		<logger name="*" level="Debug" writeTo="fileDebugLog" />
	</rules>
</nlog>
